@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --grayishblue: hsl(237, 18%, 59%);
    --red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --darkblue: hsl(236, 21%, 26%);
    --verydarkblue: hsl(235, 16%, 14%);
    --almostblack: hsl(234, 17%, 12%);
}


body {
    background-image: url('./img/bg-stars.svg');
    background-color: var(--almostblack);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
}

header {
    color: var(--white);
    font-size: 1.5em ;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    margin: 15vh 0;
}

footer {
    position: fixed;
    bottom: 0;
    background-image: url('./img/pattern-hills.svg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100vw;
}

.social-medias {
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    text-align: center;
}

.social-medias a {
    margin-right: 15px;
}

.social-medias svg {
    fill:#8385A9;
}

.social-medias svg:hover {
    fill: var(--red);
    transition: 200ms linear;
}

.countdown-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(20%, 100px));
    grid-template-rows: 50% 50%;
    justify-content: center;
    gap: 1rem;
    height: 200px;
    max-width: 750px;
    margin: auto;
}

#days, #hours, #minutes, #seconds {
    position: relative;
}


.number {
    color: var(--red);
    font-size: 4em;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label {
    text-transform: uppercase;
    color:var(--grayishblue);
    letter-spacing: .3rem;
    text-align: center;
}

.top-case, .bottom-case {
    position: relative;
    background-color: var(--darkblue);
    width: 100%;
    height: 50%;
}

.top-case {
    border-radius: 5px 5px 0 0;
    opacity: 0.8;
    position: relative;
}

.bottom-case {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 8px 5px rgb(0, 0, 22);
    position: relative;
}

.bottom-case:before {
    content: '';
    z-index: 2;
    background-color: var(--almostblack);
    border-radius: 50%;
    position: absolute;
    top: -8%;
    left: -3%;
    width: 9px;
    height: 9px;
}

.bottom-case::after {
    content: '';
    z-index: 2;
    background-color: var(--almostblack);
    border-radius: 50%;
    position: absolute;
    top: -8%;
    right: -3%;
    width: 9px;
    height: 9px;
}
